{% extends 'base.html.twig' %}

{% block title %}Créer un participant{% endblock %}

{% block body %}
    <div class="container">
<div class="row-cols-4 mt-4">

</div>



    <h1>Créer un participant</h1>

    {{ form_start(registrationForm) }}
    {{ form_end(registrationForm) }}

    </div>
{% endblock %}
