html{
    overflow-x: hidden;
    height: 100%;
}

.my-custom-scrollbar{
    position:relative;
    height: 17em;
    overflow: auto;
}

.my-custom-scrollbar2{
    position:relative;
    height: 30em;
    overflow: auto;
}

.table-wrapper-scroll-y{
    display: block;
}

.text{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.bi-trash{
    height: 25px;
    width: 25px;
}

.bi-pencil{
    height: 25px;
    width: 25px;
}

.bi-plus-circle{
    height: 25px;
    width: 25px;
}

.bi-search{
    height: 25px;
    width: 25px;
}

.bi-trash:hover{
    color:red;
    cursor:pointer;
}

.bi-pencil:hover{
    color:orange;
}

.divPageLogin{
    padding:5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}