{% extends 'base.html.twig' %}

{% block title %}Modifier{% endblock %}

{% block body %}
<div class="container">
    <div class="row-cols-4 mt-4">

    </div>
    {{ form(modifyUserForm) }}
</div>
{% endblock %}
