{% extends 'base.html.twig' %}

{% block title %}Modifier{% endblock %}

{% block body %}
<div class="container">
    <div class="text-center">
        <br>
        <h1>Modifier les informations de {{ participants.pseudo }}</h1>
        <br>
    </div>
    <div class="row">
<div class="col-4">

</div>

    <div class="col-4 text-center">

        {{ form(modifyUserForm) }}
    </div>
    <div class="col-4">

    </div>
</div>
</div>
{% endblock %}
