{% extends 'base.html.twig' %}

{% block title %}Hello SortieController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row-cols-4">

        </div>
        <div class="row">
            {{ form(formSortie) }}
        </div>

        <div class="row-cols-4">

        </div>
    </div>

{% endblock %}
