<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Document{% endblock %}</title>
    <link rel="stylesheet" href="{{asset('css/bootstrap.min.css') }}">
    {% block stylesheets %}
    {% endblock %}
</head>
{% if app.user%}
    {% set menu = { "Accueil":"app_main","Mon profil":"app_main","Se déconnecter":"app_logout" } %}
{% endif %}

<body>


<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            {% for key, value in menu %}
                <a class="nav-item nav-link" href="{{ path(value) }}" >{{ key }}</a>
            {% endfor %}
        </div>
    </div>
</nav>
{% block body %}
{% endblock %}

{% block javascriptsBody %}
{% endblock %}
</body>
</html>